@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.Home{
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 85%;
  margin-top: 5%;
  padding: 3rem 6rem;
}

.Taste{
  font-family: Cormorant Upright,serif;
  color: #fdfbf5;
  font-weight: 700;
  text-transform: capitalize;
  font-feature-settings: "tnum" on,"lnum" on;
  line-height: 26px;
  font-size: 20px;
}

.Title{
  font-family: Cormorant Upright,serif;
  color: #dcca87;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 58px;
  font-size: 48px;
}

.SubTitle{
  font-family: Open Sans,sans-serif;
  margin: 2rem 0;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 16px;
  color: #fdfbf5;
  font-weight: 400;
  text-transform: capitalize;
}

.ExploreBtn{
  background-color: transparent;
  font-family: Cormorant Upright,serif;
  color: #dcca87;
  font-weight: 500;
  padding: .5rem;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
  border: none;
  border-bottom: 1px solid #dcca87;
  text-align: center;
}

.ExploreBtn:hover{
  background-color: #f5efdb;
  color: #0c0c0c;
  transform: scale(.98);
  transition: .4s ease;
}


.ExploreBtnWrapper{

}

.Intro{
}

.ImageWrapper{
  z-index: 5;
}

.ImageWrapper::before{
  content: "";
  position: absolute;
  top: 36%;
  right: 29%;
  width: 18%;
  height: 35%;
  z-index: -1;
  background: #dcca87 no-repeat 50%;
}

.Image{
  z-index: 99;
}

.ImageWrapper::after{
  content: "";
  position: absolute;
  top: 13%;
  right: 17%;
  width: 18%;
  height: 35%;
  z-index: -1;
  background: #dcca87 no-repeat 50%;
}