.nav {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--bgDark);
    padding: 5px 35px;
    max-height: 65px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    height: 35px;
    cursor: pointer;
}

.list {
    display: inline;
    list-style-type: none;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    cursor: pointer;
}

a {
    color: var(--text-color);
}

a:hover{
    color: var(--primary-color);
    font-size: 16.5px;
    transform: scale(10);
    transition: .3s ease;
}

li {
    display: inline;
    margin: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 2px solid transparent;
}

li:hover{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.rez {
    display: flex;
    justify-content: flex-end;
}
